<html>
    <head>
        <title>Update</title>
    </head>
    <body>
        
        <a href="shome">Home</a><br><br>
        <a href="">Add</a><br><br>
        <a href="show">Display</a><br><br>
        <a href="sord">Orders</a><br><br>
        <a href="logout">Logout</a><br><br>

        <h3>Update</h3>

        <form action="updatep" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <table border='2' align="center">
                <tr>
                    <th>Update Product</th>
                </tr>
                <tr>
                    <td align="center" >
                        Id : <input type="number" value="{{ data.id }}" readonly name="uid">
                    </td>
                </tr>
                    <tr>
                        <td align="center" >
                            Name : <input type="text" value="{{ data.Name }}" required name="uname">
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            Price : <input type="number" value="{{ data.Price }}" required name="uprice">
                        </td>  
                    </tr>
                    <tr>
                        <td align="center">
                            Quantity : <input type="number" value="{{ data.Quantity }}" required name="uquantity">
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            Weight : <input type="number" value="{{ data.Weight }}" required name="uweight">
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            Weight1 : <input type="text" value="{{ data.Weight1 }}" required name="uweight1">
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <button type="submit">Update</button>
                        </td>
                    </tr>
            </table>    
        </form>
    </body>
</html>